*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
    height: max-content;
    width: auto;
    background-color: #FDF7F2;
}

/* comman  */
.h2{
    font-size: 42px;
    font-family: 'Bodoni Moda', serif;
    margin: 0;
    color: #2e2d36;
}

.h5{
    font-size: 20px;
    font-family: 'Jost';
    margin: 0;
    font-weight: 100;
    color: #4E4540;
}

.h6{
    display: flex;
    font-size: 14px;
    font-family: 'Jost';
    margin: 0;
    color: #BB5644;
}

.btn{
    background: #BB5644;
    color: #FEF1EB;
    border: none;
    font-family: 'Jost', sans-serif;
    padding: 15px 30px;
    font-size: 15px;
    text-align: center;
}

.para{
    font-family: 'Jost';
    font-size: 16px;
    /* margin-top: 0; */
    margin-bottom: 15px;
    color: #626262;
}

li {
    list-style-type: none;
}

a{
    font-size: 16px;
    font-family: 'Jost';
    color: #4E4540;
    text-decoration: none;
}

/* header start  */

#header{
    /* border: 1px solid red; */
    background-color: #FDF7F2;
    display: flex;
    justify-content: space-between;
    position: sticky;
    height: auto;
    top: 0;
    z-index: 1000;
}

#header ul{
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 0px;
}

#header ul li{
    display: inline-block;
    list-style-type: none;
    padding: 0px 20px;
    position: relative;
    margin: 0;
}

#header ul li a i{
    color: #BB5644;
    text-align: center;
    /* position: relative; */
}

#header ul li a i::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    margin-bottom: -20px;
    background: #BB5644;
}


#header ul li a{
    text-decoration: none;
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    color: #BB5644;
}


#header ul li:hover::after{
    content: "";
    position: absolute;
    left: 10px;
    bottom: 0;
    width: 85%;
    height: 4px;
    margin-bottom: -20px;
    background: #BB5644;
    /* border-bottom: 1px solid red; */
}

/* navbar logo  */
#header img{
    /* border: 1px solid green; */
    width: 50px;
    margin-right: 180px;
    align-self: center;
}

/* navbar shopping cart  */
#header .top-bar{
    /* border: 1px solid brown; */
    align-self: center;
    justify-content: flex-end;
    box-sizing: border-box;
    padding: 0 20px;
}

#header .top-bar p{
    display: inline-block;
    color: #BB5644;
    font-size: 18px;
    font-family: 'Jost';
    font-weight: bold;
}

#header .top-bar .icon{
    color: #BB5644;
    padding: 0px 7px;
    font-size: 18px;
}
#header .top-bar #icon{
    display: none;
}

a .line{
    display: none;
}

/* header end  */


/* home starting content  */
.home-header{
    background-color: #FDF7F2;
    height: 950px;
    position: relative;
}

.home-header .home-text{
    /* border: 1px solid red; */
    height: auto;
    width: fit-content;
    display: inline-block;
    position: absolute;
    z-index: 100;
    margin-top: 220px;
    margin-left: 150px;
}

.home-text h3{
    color: #BB5644;
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    /* font-weight: 600; */
    font-family: 'Jost', sans-serif;
    position: relative;
    margin: 0px;
    margin-left: 30px;
    padding-left: 10px;
}

.home-text h3::before{
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    background: #BB5644;
    left: -5px;
    transform: translate(-25px, 9px);
}

.home-text h1{
    text-transform: uppercase;
    color: #BB5644;
    font-size: 80px;
    font-family: 'Bodoni Moda', serif;
    margin: 30px 0;
    line-height: 80px;
    letter-spacing: 3px;
    font-weight: 600;
}

/* go to shop button  */

.home-text .btn:hover{
    background: #FEF1EB;
    color: #BB5644;
    border: 1px solid #BB5644;
}

.home-header .home-img img{
    height: 775px;
    /* border: 1px solid red; */
    position: absolute;
    top: -26px;
    /* right: auto; */
    left: 27%;
    z-index: 5;
}

.home-header::before{
    content: '';
    position: absolute;
    height: 99vh;
    background: #F0E1D4;
    width: 1px;
    left: 536px;
    /* z-index: 2000; */
    top: 0px;
}
.home-header::after{
    content: '';
    position: absolute;
    height: 99vh;
    background: #F0E1D4;
    width: 1px;
    right: 480px;
    z-index: 4;
    top: 0px;
}



.home-header .home-content{
    /* border: 1px solid red; */
    width: fit-content;
    position: absolute;
    top: 420px;
    right: 140px;
    z-index: 10;
}

.home-header .home-content p{
    font-size: 20px;
    color: #2e2d36;
    font-family: 'Jost', sans-serif;
    line-height: 5px;
}

.h1-text{
    color: #2e2d36;
    font-size: 42px;
    font-family: 'Bodoni Moda', serif;
}


.home-header .home-content a{
    text-decoration: none;
}

.home-header .home-content a::after{
    content: "";
    position: absolute;
    width: 55px;
    height: 2px;
    background: #BB5644;
}

.home-header .home-content a p{
    font-size: 15px;
    font-family: 'Jost', serif;
    color: #BB5644;
}

.home-leaf {
    background: url("img/jeweler2-slider-bg.png") bottom right / cover #FDF7F2;
    height: 850px;
    width: 1519px;
    position: absolute;
    transform: translate(0px, -64px);
    /* opacity: 0.9; */
}


.home-header #home-container{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 50px;
}

#home-container::before{
    content: '';
    position: absolute;
    height: 1px;
    background: #F0E1D4;
    width: 100%;
    /* right: 480px; */
    z-index: 4;
    top: 0px;
}

#home-container .home-text2{
    display: flex;
    justify-content: space-around;
    padding: 20px 80px;
}

#home-container .home-text2 .content{
    padding: 15px;
    padding-right: 148px;
}


#home-container .home-text2 .content h1{
    margin: 0;
    margin-bottom: 5px;
}

#home-container .home-text2 .content p{
    font-size: 15px;
    font-family: 'Jost', serif;
    margin: 0;
}
/* home content end  */

/* service start  */

#services{
    /* border: 1px solid red; */
    height: 1060px;
    width: 100%;
    background-color: #413732;
    position: relative;
}

#services .service-img{
    display: flex;
    justify-content: center;
    /* border: 1px solid greenyellow; */
    position: absolute;
    width: 100%;
    top: -51px;
}

#services .service-text{
    /* border: 1px solid red; */
    line-height: 60px;
}

#services .service-text h1{
    text-align: center;
    font-family: 'Bodoni Moda', serif;
    font-size: 80px;
    color: #FDF7F2;
    padding-top: 100px;
    margin: 0;
}

#services .service-text p{
    text-align: center;
    font-family: 'Bodoni Moda', serif;
    font-size: 32px;
    color: #FDF7F2;
    margin: 0;
}

#service-category{
    height: max-content;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    margin-top: 100px;
}


#service-category .category a{
    border: 1px solid #413732;
    padding: 30px 20px ;
    margin: 0 12px;
    display: flex;
    flex-direction: column;
    transition: transform 0.5s;
}

#service-category .category a:hover{
    border: 1px solid #4E433E;
    /* padding: 20px 20px 40px; */
    transform: translateY(-20px);
    cursor: pointer;
}

#service-category .category a:hover .jewelry{
    background-color: #BB5644;
}

#service-category .category a .jewelry{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 1px solid #4E433E;
}

#service-category .category a .category-text{
    font-size: 20px;
    font-family: 'Jost', serif;
    color: #ffffff;
    text-align: center;
    text-transform: capitalize;
    margin: 20px 0  0;
    font-weight: bold;
}

/* service end  */


/* two girl poster start */
#poster{
    height: 380px;
    position: relative;
}

#poster .poster{
    /* border: 1px solid red; */
    display: flex;
    position: absolute;
    /* height: 100px; */
    width: 90%;
    left: 75px;
    bottom: 0;
}

#poster .poster-img1{
    background-image: url('img/jeweler2-wrap-bg1.png');
    height: 800px;
    width: 50%;
    background-size: cover;
    position: relative;
}

#poster .poster-img2{
    background-image: url('img/jeweler2-wrap-bg2.png');
    height: 800px;
    width: 50%;
    background-size: cover;
    position: relative;
}

#poster .poster-img1 h2{
    text-transform: uppercase;
    font-family: 'Bodoni Moda', serif;
    font-size: 80px;
    color: #ffffff;
    margin: 0;
    padding: 290px 108px 250px;
    line-height: 1;
} 

#poster .poster-img2 .poster-text{
    display: flex;
    flex-direction: column;
    padding: 245px 90px 220px;
}

.poster-text h2{
    text-transform: uppercase;
    font-family: 'Bodoni Moda', serif;
    font-size: 80px;
    line-height: 1;
    margin: 0;
    color: #4E4540;
}


.poster-text .poster-btn{
    background-color: #BB5644;
    padding: 15px 30px;
    border: none;
    align-self: start;
}

.poster-text .poster-btn:hover{
    background:none;
    border: 1px solid #BB5644;
    cursor: pointer;
}

.poster-text .poster-btn:hover a{
    color: #BB5644;
}


.poster-text .poster-btn a{
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    text-transform: capitalize;
    font-family: 'Jost';
}

/* poster girl end  */

/* PRODUCTS start */

#products{
    /* border: 1px solid red; */
    max-height: 100%;
    max-width: 100%;
    padding: 100px 80px;
    /* margin-top: 100px; */
    box-sizing: content-box;
}

#products .product-title{
    display: flex;
    flex-direction: column;
    padding: 0 0 50px 68px;
    align-items: flex-start;
}


#products .product-title img{
    margin-right: 10px;
}


#products .product-list{
    height: auto;
    width: 100%;
    /* border: 1px solid red; */
    
}

.products-link1{
    display: none;
}

.products-link1 .products-link{
    /* border: 1px solid red; */
    width: fit-content;
    display: flex;
    padding-right: 10px;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0px;
    right: 0;
    transition: transform 5s;
}

/* animation scale-up-bottom  */

.scale-up-bottom{
    animation:scale-up-bottom .3s cubic-bezier(.39,.575,.565,1.000) both
}

@keyframes scale-up-bottom{
    0%{transform:scale(.8);transform-origin:50% 100%}
    100%{transform:scale(1);transform-origin:50% 100%}
}


.products-link a i {
    margin: 5px 0;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #BB5644;
    top: 10px;
    
}

.span{
    font-family: 'Jost';
    font-size: 12px;
    padding: 3px 8px;
    color: white;
    background: #BB5644;
    position: absolute;
    top: 10px;
    left: 10px;
    font-weight: bold;
    border-radius: 3px;
}

#products .product-list ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}


#products .product-list ul .li{
    height: 500px;
    width: 400px;
    border: 1px solid #F9F2EC;
    background: #F9F1EC;
    text-align: center;
    margin: 0 15px;
    position: relative;
    /* background: #d9965a; */
}

#products .product-list ul .li:hover .products-link1 {
    display: block;
    background-color: #BB5644;
    color: white;
}

#products .product-list ul .li:hover .products-link1 .products-link a i:hover{
    background-color: #BB5644;
    color: white;
}  

#products .product-list ul li a img{
    /* align-self: center; */
    height: 400px;
    width: 400px;
}


.li-text{
    padding: 15px 20px;
    text-align: left;
}

.li-text h5{
    margin:0 0 3px;
}

.li-text a{
    text-decoration: none;
    font-family: 'Jost';
    font-size: 20px;
    color: #4E4540;
    font-weight: 100;
}

.li-text .para{
    margin: 0;
    color: #2e2d36;
}

.li-text .dollar{
    font-family: 'Jost';
    font-size: 16px;
    margin: 0;
    color: #2e2d36;
    font-weight: 100;
}


#products .product-button{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.product-button .btn{
    background: #BB5644;
    color: #FEF1EB;
    border: 1px solid #BB5644;
    font-family: 'Jost', sans-serif;
    padding: 15px 30px;
    font-size: 15px;
    text-align: center;
}



.product-button .btn:hover{
    background: #FEF1EB;
    color: #BB5644;
    border: 1px solid #BB5644;
    cursor: pointer;
}

.product-button .btn a{
    color: white;   
}
.product-button .btn:hover a{
    color: #BB5644;
}

/* PRODUCTS end  */


/* about start  */

#aboutus{
    /* border: 1px solid red; */
    height: 650px;
    width: 100%;
}

.about{
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    margin: 0 209px;
}

.about .about-text{
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    align-self: center;
}


.about .about-text h2{
    font-size: 80px;
    font-family: 'Bodoni Moda',-apple-system, BlinkMacSystemFont,sans-serif;
    margin: 0;
    color: #BB5644;
}

.about .about-text .para{
    margin: 0 0 15px;
    color: #626262;
}

.about .about-img img{
    /* border: 1px solid royalblue; */
    height: 500px;
    width: max-content;
    padding: 0 40px;
}

.about-percentage{
    padding-right: 80px;
}

.about-percentage .about-text2 .about-content{
    padding: 38px 20px;
}


.about-percentage .about-text2 .about-content h1{
    font-size: 42px;
    font-family: 'Bodoni Moda';
    margin: 0;
    margin-bottom: 5px;
}

.about-percentage .about-text2 .about-content p{
    font-size: 15px;
    font-family: 'Jost';
    margin: 0;
}
/* offer start */

#offer{
    height: 1000px;
    width: 90%;
    background-color: #413732;
    position: relative;
    left: 75px;
    /* margin-bottom: 50px; */
}

#offer .service-img{
    display: flex;
    justify-content: center;
    /* border: 1px solid greenyellow; */
    position: absolute;
    width: 100%;
    top: -51px;
    z-index: 2;
}

.offer-title{
    /* border: 1px solid yellow; */
    position: absolute;
    top: 145px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.offer-title .h2-text{
    padding-top: 20px;
    color: white;
    text-align: center;
    font-weight: 580;
    line-height: 1.2;
}

.offer-container{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 100px;
    /* border: 1px solid yellow; */
    /* box-sizing: border-box; */
    width: 100%;
}

.offer-container .offer-text{
    /* border: 1px solid grey; */
    align-self: center;
}

.offer-container .offer-text .offer-text1{
    /* border: 1px solid white; */
    text-align: right;
    margin-bottom: 50px;
    /* width: auto; */
}

.offer-container .offer-text .offer-text2{
    /* border: 1px solid white; */
    text-align: left;
    margin-bottom: 50px;
    /* width: auto; */
}

.o-text .h2{
    margin-bottom: 15px;
    color: #BB5644;
}
.o-text .h5{
    margin-bottom: 10px;
    color: #ffffff;
}
.o-text .para{
    color: #ffffff;
}

.offer-container .offer-image{
    /* border: 1px solid violet; */
    padding: 0px 30px;
}

.offer-container .offer-image img{
    height: 500px;
    width: auto;
}

.offer-btn{
    display: block;
    /* display: flex; */
    margin-left: auto;
    margin-right: auto;
    background-color: #BB5644;
    padding: 15px 30px;
    border: 1px solid #BB5644;
    align-self: start;
}

.offer-image .offer-btn:hover{
    background:none;
    border:1px solid #BB5644;
    cursor: pointer;

}

.offer-image .offer-btn:hover a{
    color: #BB5644;
}

.offer-image .offer-btn a{
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    text-transform: capitalize;
    font-family: 'Jost';
    font-weight: bold;
}

/* brand and registration start  */

#brand{
    /* border: 1px solid red; */
    height: auto;
    width: auto;
    padding: 100px 0;
}

.brand-client{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
}

.brand-client .client{
    /* border: 1px solid red; */
    list-style-type: none;
    padding: 0 0 180px;
    margin: 0;
}

.brand-client .client li{
    display: inline-block;
    /* justify-content: center; */
    padding: 10px 15px;
    margin: 10px 50px;
    position: relative;
}

.brand-client .client li a img { 
    height: 18px;
    /* width: fit-content; */
}

.brand-client .client li:hover::after{
    content: "";
    position: absolute;
    left: -20px;
    bottom: 0;
    width: 140px;
    height: 3px;
    margin-bottom: -15px;
    background: #BB5644;
}

/* brand end  */

.registration{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    /* margin: 0 0 100px; */
}

.registration .register{
    border: 1px solid #F0E1D4;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 400px;
    width:75%;
    position: relative;
}

.register .leaf{
    position: absolute;
    top: -64px;
}

.register .h6{
    text-align: center;
}

.register .h6 img{
    margin-right: 10px;
}

.register h3{
    font-size: 32px;
    font-family: 'Bodoni Moda',-apple-system, BlinkMacSystemFont,sans-serif;
    /* margin: 0; */
    color: #4E4540;
    text-align: center;
}

.register h3 span{
    color: #BB5644;
}

.signup {
    display: flex;
    justify-content: center;
    width: 100%;
}

.signup input[type=email]{
    border: none;
    border-bottom: 1px solid #4E433E;
    background: none;
    width: 25%;
    padding: 10px;
    margin-right: 20px;
}

.signup input[type=email]:focus{
    outline: none;
}

.signup .btn{
    border: 1px solid #BB5644;
    padding: 10px 50px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.signup .btn:hover{
    border: 1px solid #BB5644;
    color: #BB5644;
    background: none;
}

/* brand and registration end  */

/* gallery start  */
#gallery{
    display: flex;
    justify-content: center;
}

#gallery a img{
    height: 227px;
    width: 227px;
}


/* gallery end  */

/* contact start  */

#contact{
    /* border: 1px solid red; */
    padding: 70px 0;
}

.contact{
    display: flex;
    margin: 0 210px;
    justify-content: center;
}

.contact-details{
    /* border: 1px solid purple; */
    height: 400px;
    width: 270px;
    padding: 35px 15px;
    /* margin: 0px 7px; */
}

.contact-details .contact-text{
    /* border: 1px solid red; */
    margin-bottom: 80px;
}


.contact-details .contact-text2{
    /* border: 1px solid purple; */
    margin-bottom: 30px;
}

.contact-text .para{
    margin-top: 0;
}

.contact-text .btn a{
    text-decoration: none;
    color: white;
}

.contact-text .btn{
    border: 1px solid #BB5644;
    padding: 12px 30px;
    color: white;
    cursor: pointer;
}

.contact-text .btn:hover a{
    color: #BB5644;
}

.contact-text .btn:hover{
    border: 1px solid #BB5644;
    /* color: #BB5644; */
    background: none;
    /* cursor: pointer; */
}

.contact-text h5{
    margin-bottom: 15px;
}

.contact-text ul{
    margin: 0px;
    padding: 0px;
}

.contact-text ul li a:hover{
    color: #BB5644;
    text-decoration: underline;
}

.ul-contact li a{
    font-size: 20px;
}

.contact-text .ul-contact li a:hover{
    /* color: #F0E1D4; */
    text-decoration: none;
}

.contact-text .para{
    color: #4E4540;
}

/* contact end  */

/* footer start  */
#footer{
    /* border: 1px solid red; */
    /* height: 100px; */
    width: 100%;
}

.footer{
    /* border: 1px solid purple; */
    display: flex;
    justify-content: space-between;
    margin: 0 210px;
}

.footer .copy{
    margin: 0 0 20px;
    padding: 30px 0 0;
}

.footer .copy .para{
    margin: 0;
}

.footer .copy a:hover{
    text-decoration: underline;
    color: #BB5644;
}

.footer .top-footer{
    height: 44px;
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    background: #BB5644;
    /* padding: 50px; */
}

.footer .top-footer  a{
    font-size: 25px;
    font-weight: 200;
    color: white;
}
/* footer end  */









/* media query start  */

@media screen and (min-width: 320px) and (max-width: 480px){

    body{
        height: 100vh;
        width: 100vw;
    }

    #header{
        display: flex;
        justify-content: space-between;
        width: 100vw;
        /* border: 1px solid red; */
    }

    #header ul{
        display: none;
    }

    a{
        display: flex;
        margin-right: 20px;
    }
    a .line{
        display: block;
        font-size: 30px;
        color: #BB5644;
        align-self: center;
        /* margin-right: 20px; */
    }

    #header img{
        width: 40px;
        margin-left: 20px;
    }

    #header .top-bar{
        display: flex;
        justify-content: space-around;
        position: fixed;
        bottom: 0;
        padding: 0 10px;
        background-color: #FDF7F2;
        width: 100vw;
        border: 1px solid #ddcdc6;
        box-shadow: 0px 0px 10px -5px #2e2d36;
        z-index: 8849;
    }

    #header .top-bar p{
        display: none;
    }

    #header .top-bar .icon{
        font-size: 30px;
        padding: 20px;
    }

    
    #header .top-bar #icon{
        display: block; 
        font-size: 30px;
        padding: 20px; 
        color: #BB5644;
    }

    .home-header{
        background-color: #FDF7F2;
        height: 400px;
        position: relative;
    }

    .home-header .home-text{
        /* border: 1px solid red; */
        height: auto;
        width: 100vw;
        display: block;
        flex-direction: column;
        /* flex-wrap: wrap; */
        justify-content: center;
        /* position: absolute;
        top: 0; */
        margin: 0;
        z-index: 100;
    }

    .home-leaf {
        /* border: 1px solid blue; */
        background: url("img/jeweler2-slider-bg.png") bottom right / cover #FDF7F2;
        height: 400px;
        width: 320px;
        position: absolute;
        transform: translate(0px, -40px);
        /* opacity: 0.9; */
    }

    .home-text h3{
        font-size: 10px;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .home-text h3::before{
        content: "";
        position: absolute;
        width: 20px;
        height: 1px;
        background: #BB5644;
        left: 110px;
        transform: translate(-15px, 7px);
    }

    .home-text h1{
        text-transform: uppercase;
        color: #BB5644;
        font-size: 29px;
        font-family: 'Bodoni Moda', serif;
        margin: 0;
        line-height: 1;
        letter-spacing: 0px;
        text-align: center;
        font-weight: 500;
    }

    .btn{
        display: none;
    }

    .home-header .home-img img{
        display: flex;
        height: 240px;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50px;
        left: 38px;
        z-index: 5;
    }

    .home-header .home-content{
        width: auto;
        position: absolute;
        text-align: center;
        top: 300px;
        left: 0px;
        right: 0px;
        z-index: 10;
    }
    
    .home-header .home-content p{
        font-size: 12px;
        line-height: 5px;
    }
    
    .h1-text{
        font-size: 21px;
        margin: 0;
    }
    
    
    .home-header .home-content a{
        display: flex;
        justify-content: center;
        text-decoration: none;
        margin: 20px 0 0 ;
    }
    
    .home-header .home-content a::after{
        content: "";
        position: absolute;
        width: 55px;
        height: 2px;
        bottom: 0;
        background: #BB5644;
    }
    
    .home-header .home-content a p{
        font-size: 12px;
        align-self: center;
    }

    #home-container{
        position: relative;
        top: 450px;
        /* bottom: 0; */
        width: 100vw;
    }
    
    #home-container::before{
        content: '';
        position: absolute;
        height: 1px;
        background: #F0E1D4;
        width: 100vw;
        /* right: 480px; */
        z-index: 4;
        top: 0px;
    }

    #home-container .home-text2{
        display: flex;
        justify-content: space-around;
        padding: 60px 16px;
    }
    
    #home-container .home-text2 .content{
        padding: 20px;
    }
    
    
    #home-container .home-text2 .content h1{
        font-size: 42px;
        margin: 0;
        margin-bottom: 5px;
    }
    
    #home-container .home-text2 .content p{
        font-size: 13px;
        /* font-family: 'Jost', serif; */
        line-height: 2;
        margin: 0;
    }
    /* home conent end  */
    
    /* services start  */
    #services{
        /* border: 1px solid red; */
        height: 1680px;
        width: 100%;
        background-color: #413732;
        position: relative;
        margin-top: 500px;
        padding: 0 13px;
    }
    
    #services .service-text p{
        width: 100px;
        line-height: 1.5;
        margin: 10px 95px 0;
    }
    
    #service-category{
        height: 800px;
        width: 100%;
        /* border: 1px solid red; */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        /* margin-top: 100px; */
    }
    
    #service-category .category a{
        border: 1px solid #413732;
        padding: 0 7px;
        margin: 0 ;
        display: flex;
        /* flex-wrap: wrap; */
        flex-direction: column;
        align-items: center;
        transition: transform 0.5s;
    }
    /* service end  */
    

        /* two girl poster start */
    #poster{
        height: 380px;
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }

    #poster .poster{
        /* border: 1px solid red; */
        display: flex;
        flex-direction:column;
        position: absolute;
        /* height: 100px; */
        width: 100%;
        left: 20px;
        top: -450px;
    }

    #poster .poster-img1{
        height: 400px;
        width: 280px;
    }

    #poster .poster-img2{
        height: 600px;
        width: 280px;
    }

    #poster .poster-img1 h2{
        font-size: 35px;
        padding: 180px 35px;
    } 

    #poster .poster-img2 .poster-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 100px 90px;
    }

    .poster-text h2{
        font-size: 35px;
    }

    .poster-text .btn{
        display: block;
        text-align: center;
    }
    .poster-text .poster-btn{
        background-color: #BB5644;
        padding: 15px 30px;
        border: none;
        align-self: start;
    }

    .poster-text .poster-btn:hover{
        background:none;
        border: 1px solid #BB5644;
        cursor: pointer;
    }

    .poster-text .poster-btn:hover a{
        color: #BB5644;
    }


    .poster-text .poster-btn a{
        margin: 0;
        font-size: 15px;
    }

    /* poster girl end  */

    /* PRODUCTS start */

    #products{
        /* border: 1px solid blue; */
        height: 1000px;
        /* width: auto; */
        /* margin-top: 200px; */
        padding: 110px 16px;
    }

    #products .product-title{
        /* display: flex;
        flex-direction: column; */
        padding: 0 0 20px 38px;
        /* align-items: flex-start; */
    }



    #products .product-list{
        height: auto;
        width: 100%;
        /* border: 1px solid red; */
        position: relative;
    }


    .products-link1 .products-link{
        /* border: 1px solid red; */
        width: fit-content;
        display: flex;
        padding-right: 0px;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 0px;
        right: 0px;
        transition: transform 5s;
    }




    .products-link a{
        margin: 0;
    }


    .products-link a i {
        margin: 5px 0;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #BB5644;
        top: 0px;
        font-size: 10px;
    }


    .span{
        /* border: 1px solid red; */
        font-family: 'Jost';
        font-size: 12px;
        padding: 3px 8px;
        color: white;
        background: #BB5644;
        position: absolute;
        top: 0px;
        left: 0px;
        font-weight: bold;
        border-radius: 3px;
        z-index: 5;
    }

    #products .product-list ul{
        display: flex;
        width: 300px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        padding: 0px;
        margin: 10px 0;
    }


    #products .product-list ul .li{
        /* display: flex; */
        flex-direction: column;
        height: 300px;
        width: 120px;
        border: 1px solid #F9F2EC;
        background: #F9F1EC;
        text-align: center;
        margin: 10px 5px;
        /* position: relative; */
        /* background: #d9965a; */
    }

    #products .product-list ul .li:hover .products-link1 {
        display: block;
        background-color: #BB5644;
        color: white;
    }

    #products .product-list ul .li:hover .products-link1 .products-link a i:hover{
        background-color: #BB5644;
        color: white;
    }  

    #products .product-list ul li a{
        display: inline-block;
    }

    #products .product-list ul li a img{
        /* align-self: center; */
        height: 100px;
        width: 100px;
    }


    .li-text{
        display: inline-block;
        padding: 15px 20px;
        text-align: left;
    }

    .li-text h5{
        margin:0 0 3px;
    }

    .li-text a{
        text-decoration: none;
        font-family: 'Jost';
        font-size: 20px;
        color: #4E4540;
        font-weight: 100;
    }

    .li-text .para{
        margin: 0;
        color: #2e2d36;
    }

    .li-text .dollar{
        font-family: 'Jost';
        font-size: 16px;
        margin: 0;
        color: #2e2d36;
        font-weight: 100;
    }


    #products .product-button{
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }

    .product-button .btn{
        /* overflow: visible;
        display: block; */
        background: #BB5644;
        color: #FEF1EB;
        border: 1px solid #BB5644;
        font-family: 'Jost', sans-serif;
        padding: 15px 30px;
        font-size: 15px;
        text-align: center;
    }



    .product-button .btn:hover{
        background: #FEF1EB;
        color: #BB5644;
        border: 1px solid #BB5644;
        cursor: pointer;
    }

    .product-button .btn a{
        color: white;   
    }
    .product-button .btn:hover a{
        color: #BB5644;
    }

    /* PRODUCTS end  */


    /* about us start */
    #aboutus{
        /* border: 1px solid red; */
        height: 750px;
        width: auto;
        margin-top: 800px;
    }
    
    .about{
        /* border: 1px solid green; */
        display: contents;
        width: auto;
    }
    
    .about .about-text{
        /* border: 1px solid blue; */
        display: flex;
        flex-direction: column;
        /* align-self: center; */
        text-align: center;
    }
    
    
    .about .about-text h2{
        font-size: 42px;
        font-family: 'Bodoni Moda';
        margin: 0;
        color: #BB5644;
    }
    
    .about .about-text .para{
        margin: 0 0 15px;
        color: #626262;
    }

    .about .about-img{
        text-align: center;
    }
    
    .about .about-img img{
        /* border: 1px solid royalblue; */
        height: 200px;
        padding: 0 ;
    }
    

    .about-percentage .about-text2{
        /* border: 1px solid red; */
        display: flex;
    }
    
    .about-percentage .about-text2 .about-content{
        padding: 20px;
    }
    
    
    .about-percentage .about-text2 .about-content h1{
        font-size: 42px;
        margin: 0;
    }
    
    .about-percentage .about-text2 .about-content p{
        font-size: 13px;
        padding: 0 9px;
        word-spacing: 18px;
        line-height: 2;
    }

    /* about us end */


    /* offer start */

    #offer{
        height: 1250px;
        width: 90%;
        background-color: #413732;
        position: relative;
        left: 15px;
        /* margin-bottom: 50px; */
    }

    #offer .service-img{
        display: flex;
        justify-content: center;
        /* border: 1px solid greenyellow; */
        position: absolute;
        width: 100%;
        top: -51px;
        z-index: 2;
    }

    .offer-title{
        /* border: 1px solid yellow; */
        position: absolute;
        top: 145px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .offer-title .h2-text{
        padding-top: 20px;
        color: white;
        text-align: center;
        font-weight: 580;
        line-height: 1;
        font-size: 32px;
    }

    .offer-container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        bottom: 0px;
        top: 240px;
        /* border: 1px solid yellow; */
        /* box-sizing: border-box; */
        width: 100%;
    }

    .offer-container .offer-text{
        /* border: 1px solid grey; */
        display: flex;
        flex-direction: row;
        align-self: center;
    }

    .offer-container .offer-text .offer-text1{
        /* border: 1px solid white; */
        text-align: center;
        margin-bottom: 50px;
        /* width: auto; */
    }

    .offer-container .offer-text .offer-text2{
        /* border: 1px solid white; */
        text-align: center;
        margin-bottom: 50px;
        /* width: auto; */
    }


    .offer-container .offer-image{
        /* border: 1px solid violet; */
        padding: 0px 0px;
    }

    .offer-container .offer-image img{
        height: 223.99px;
        width: 222px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }

    .offer-btn{
        display: block;
        /* display: flex; */
        margin-left: auto;
        margin-right: auto;
        background-color: #BB5644;
        padding: 15px 30px;
        border: 1px solid #BB5644;
        align-self: start;
        margin-bottom: 10px;
    }
    
    .offer-image .offer-btn:hover{
        background:none;
        border:1px solid #BB5644;
        cursor: pointer;
    
    }
    
    .offer-image .offer-btn:hover a{
        color: #BB5644;
    }
    
    .offer-image .offer-btn a{
       margin: 0;
    }

    /* brand and registration start  */

#brand{
    /* border: 1px solid red; */
    height: auto;
    width: auto;
    padding: 50px 0;
}

.brand-client{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
}

.brand-client .client{
    /* border: 1px solid red; */
    list-style-type: none;
    padding: 0px 0 0 32;
    margin: 0;
}

.brand-client .client li{
    display: inline-block;
    /* justify-content: center; */
    padding: 10px 15px;
    margin: 10px 8px;
    position: relative;
}

.brand-client .client li a img { 
    height: 18px;
    /* width: fit-content; */
}

.brand-client .client li:hover::after{
    content: "";
    position: absolute;
    left: -20px;
    bottom: 0;
    width: 140px;
    height: 3px;
    margin-bottom: -15px;
    background: #BB5644;
}

/* brand end  */
.registration{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    margin: 100px 0 10px;
}

.registration .register{
    border: 1px solid #F0E1D4;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 450px;
    width:85%;
    position: relative;
}

.register .leaf{
    position: absolute;
    top: -64px;
}

.register .h6{
    font-size: 0.875rem;
    text-align: center;
    margin-bottom: 20px;
}

.register .h6 img{
    margin-right: 10px;
}

.register h3{
    font-size: 2rem;
    font-family: 'Bodoni Moda', -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0;
    color: #4E4540;
    text-align: center;
    margin-bottom: 20px;
}

.register h3 span{
    color: #BB5644;
}

.signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.signup input[type=email]{
    border: none;
    border-bottom: 1px solid #4E433E;
    background: none;
    width: 92%;
    padding: 10px;
    margin: 0 10px 20px;
}

.signup input[type=email]:focus{
    outline: none;
}

.signup .btn{
    border: 1px solid #BB5644;
    display: block;
    padding: 10px 50px;
    color: white;
    width: 92%;
    margin: 0 auto;
    cursor: pointer;
    font-weight: bold;
}

.signup .btn:hover{
    border: 1px solid #BB5644;
    color: #BB5644;
    background: none;
}

/* brand and registration end  */


/* gallery start  */
#gallery{
    /* border: 1px solid navy; */
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
    position: relative;
    z-index: 50;
    margin-top: 0px;
}


#gallery a img{
    height: 287.02px;
    width: 288px;
}


/* gallery end  */

/* contact start  */

#contact{
    /* border: 1px solid red; */
    padding: 70px 0;
}

.contact{
    display: flex;
    margin: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-details{
    /* border: 1px solid purple; */
    height: auto;
    width: 254px;
    padding: 35px 15px 0;
    text-align: center;
    /* margin: 0px 7px; */
}

.contact-details .contact-text{
    /* border: 1px solid red; */
    margin-bottom: 50px;
}


/* contact end  */

/* footer start  */
#footer{
    /* border: 1px solid red; */
    height: 280px;
    width: 100%;
}

.footer{
    /* border: 1px solid purple; */
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin: 0 0px; 
    width: 230px;
    margin-left: auto;
    margin-right: auto;
}

.footer .copy{
    margin: 0 0 20px;
    padding: 30px 0 0;
    text-align: center;
}
/* footer end  */


}