body{
    /* height: 3000px; */
    overflow-x: hidden;
}


/* common */
a{
    font-size: 15px;
    font-family: 'Montserrat';
    font-weight: bold !important;
}
.a{
    font-size: 22px;
    color: black;
    text-decoration: none;
    font-weight: bolder !important;
}

h1{
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold !important;
}
h2{
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
}

h3{
    font-size: 20px;
    font-family: 'Montserrat';
}
.h3{
    font-size: 22px;
    font-weight: bold !important;
}
h5{
    font-size: 18px;
    font-family: 'Montserrat';
    color: #FFCC00;
    font-weight: bold !important;
}

.h2{
    font-size: 4.375rem !important;
    font-weight: bold !important;
}

p{
    font-size: 15px;
    font-family: 'Montserrat';
}

b{
    font-size: 16px;
    font-family: 'Montserrat';
}



.para{
    font-size: 16px;
    line-height: 1.5rem;
}

.info-icons{
    font-size: 2rem;
    color: #FFCC01;
}

.info-anchor{
    color: white;
    text-decoration: none;
}

.info-anchor:hover{
    color: #CD1446 !important;
    text-decoration: underline;
}
.info-anchor1:hover{
    color: #FFCC00 !important;
    text-decoration: underline;
}

.btn-social{
    color: white;
    height: 35px;
    width: 35px;
    background: black;
}

.btn-social:hover{
    background: #FFCC01 !important;
    color: white;
    /* border: 1px solid white; */
    /* outline: gray; */
}



#nav{
    padding: 10px 20px;
    /* background: #CD1446; */
    z-index: 999;
    background: black;
    opacity: 0.9;
}

.nav-link:hover{
    color: #FFCC00 !important;
}




/* offcanvas  */

.offcanvas{
    width: 30rem;
    padding: 46px 40px 50px 50px;
    background-color: black;
}

.btn-close i{
    color: white !important;
    font-size: 3rem;
}

/* header start */

.header{
    height: 401px;
    /* padding: 110px 0px 60px; */
    background-image: url("img/blog/inner_4.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative;
    z-index: -1; */
}

.header .container-fluid{
    padding-left: 100px;
    padding-right: 100px;
}

.btn-box{
    background: #FFCC00;
    color: black;
}

.btn-box i{
    font-size: 25px;
}

.header-title {
    padding: 180px 0 130px;
    text-align: center;
    position: relative;
    padding-top: 180px;
    padding-bottom: 130px;
    z-index: 2;
}

.h1{
    position: relative;
    margin: 0px 234.6px;
    padding: 0px 0px 35px;
}

.h1::after{
    content: "";
    height: 8px;
    width: 120px;
    position: absolute;
    left: 365px;
    bottom: 40px;
    background: #FFCC00 !important;
    z-index: -1;
}


/* blog content  */
#blog{
    height: fit-content;
    /* width: fit-content; */
    padding: 130px 0px 80px;
}

.blog-first{
    margin-right: 0px !important;
    width: 793.33px;
}

.blog-bg-img{
    height: 442.94px;
    width: 793.33px;
}

.blog-img{
    position: relative;
    padding: 15px;
}

.tag a{
    position: absolute;
    z-index: 11;
    right: 20px;
    bottom: 20px;
}

.blog-content{
    padding: 10px 15px 20px;
}



.blog-title a{
    color: #0a0a0a;
    text-decoration: none;
    font-size: 26px;
    font-family: 'Montserrat';
}

.blog-title a:hover{
    color: #FFCC00;
}


.meta{
    list-style: none;
    display: flex;
    padding: 0px 0px 10px !important;
}

.meta li{
    padding-right: 30px;
}

.meta-icon{
    color: #FFCC00;
    margin-right: 5px;
}

.blog-btn{
    transition: all 0.3s;
}

.blog-btn a{
    color: #FFCC00;
    text-decoration: none;
    margin: 0px 5px 0px 0px;
    font-weight: 600;
}

.blog-btn i{
    font-size: 15px;
}

.blog-btn:hover i{
    transform: translateX(10px);
}

.blog-second{
    /* margin-left: 20px; */
}


.blog-search{
    background: #fff;
    padding: 40px 30px 40px;
    box-shadow: 0 2px 20px rgb(0 0 0 / 8%);
    border-radius: 0px;
    margin-bottom: 3rem;
    position: relative;
}


.search-input{
    border: none;
    color: #444444;
    padding: 14px 17px;
    width: 100%;
    border-radius: 0px;
    background: #F6F7F9;
    outline: none;
}

.blog-search button{
    border: medium none;
    color: #191821;
    padding: 9px 16px;
    position: absolute;
    right: 30px;
    top: 45px;
    z-index: 0;
    font-size: 16px;
    outline: none;
    border-radius: 0 5px 5px 0;
    background: none;
}


.recent-post{
    margin: 0px 0px 45px;
    padding: 40px 30px;
}

.recent-title{
    font-size: 20px ;
    font-weight: bold !important;
    /* margin-bottom: 30px; */
    padding-bottom: 12px;
}


.recent-line{
    border-top: 4px solid #FFCC00;
    width: 50px;
    margin-bottom: 25px;
    padding-bottom: 12px;
}

.show-featured{
    /* border: 1px solid red; */
    /* display: flex; */
}

.post-img{
    width: 100px;
    float: left;
    padding-right: 15px;
}


.post-img img{
    height: auto;
    max-width: 100%;
}

.post-item{
    /* border: 1px solid blue; */
    /* padding: 0px 30px 0px 0px; */
    overflow: hidden;
}

.post-desc a{
    text-decoration: none;
    color: black;
}

.post-desc a:hover{
    text-decoration: none;
    color: #FFCC00;
}

.recent-line2{
    border-top: 1px solid #e8e8e8;
    margin: 40px 0px 20px;
}
.recent-line3{
    border: none;
    margin: 40px 0px 20px;
}

.cat-list{
    list-style: none;
}


.recent-line4{
    border-top: 1px solid #e8e8e8;
    margin: 10px 0px;
}

.cat-list a{
    text-decoration: none;
    color: black;
}

.cat-list a:hover{
    text-decoration: none;
    color: #FFCC00;
}

.follow-icon a{
    text-decoration: none;
    color: black;
}

.follow-icon a:hover{
    text-decoration: none;
    color: #FFCC00;
}



/* footer start  */

#footer{
    padding: 92px 0 45px;
    height: 452px;
    background-color: #121212;
    /* margin-top: 200px; */
    position: relative;
    z-index: 2;
}

.slide{
    display: flex;
    width: 100px;
    height: 4px;
    border-radius: 40px;
    margin-bottom: 20px;
}

.sd1{
    width: 20%;
    height: 5px;
    background: #FFCC00;
    margin-right: 8px;
    transition: width 0.4s;
}
.sd2{
    width: 80%;
    height: 5px;
    background: #FFCC00;
    transition: width 0.4s;
}

.footer-content:hover .slide .sd1{
    width: 70% !important;
}

.footer-content:hover .slide .sd2{
    width: 20% !important;
}

.info-icons1{
    font-size: 1.5rem;
    color: #FFCC01;
}

input[type="email"] {
    background: none;
    border: none;
    width: 92%;
    font-size: 13px;
    padding: 20px 60px 20px 20px;
    margin: 0;
    color: #0a0a0a;
    overflow: hidden;
    border-radius: 0px;
    background: #fff;
    outline: none;
}

input[type="submit"] {
    background-color: #FFCC00;
    color: white;
    border-radius: 0px;
    margin-top: 15px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 17px 30px;
}

/* footer end  */

/* copy start  */

.copy-text{
    display: flex;
    justify-content: space-between;
}

.copy-text ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 !important;
    justify-content: flex-end;
}

.copy-text ul li{
    margin-bottom: 5px;
    padding: 0 15px;
}

.copy-text ul li a{
    text-decoration: none;
    position: relative;
}

.copy-text ul li a:hover{
    color: #FFCC00 !important;
}

.copy-text ul li a:before {
    content: "";
    background: #FFCC00 !important;
    display: block;
    position: absolute;
    font-size: 18px;
    left: -20px;
    top: 5px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
}

.copy-text ul li:first-child a::before{
    content: "";
    display: none;
}

/* copy end  */


/* scrollup start  */

#scrollUp {
    text-align: center;
    bottom: 40px;
    cursor: pointer;
    display: none;
    position: fixed;
    right: 40px;
    z-index: 10;
}

#scrollUp a i {
    height: 40px;
    font-size: 24px;
    width: 42px;
    border-radius: 0;
    color: #fff;
    line-height: 36px;
    transition: all 0.3s ease 0s;
    background: #FFCC00;
    margin-left: 2px;
    box-shadow: 0px 0px 2px rgb(0 0 0 / 40%);
}


#scrollUp a i:hover {
    opacity: 0.8;
}

/* scrollup end  */


/* media query */

@media screen and (min-width: 320px) and (max-width: 576px) {
    *{
        overflow-x: hidden;
    }

    body{
        overflow: visible;
    }

    #nav{
        /* width: 320px; */
        padding: 10px 20px;
        background: black;
        opacity: 0.9;
    }
    
    .grip-display1{
        color: white;
    }

    .grip-display{
        display: none;
    }
    .header-image{
        margin-top: 20px;
    }

    a{
        font-size: 15px;
        font-family: 'Montserrat';
        font-weight: bold !important;
    }
    .a{
        font-size: 22px;
        color: black;
        text-decoration: none;
        font-weight: bolder !important;
    }
    
    h2{
        font-size: 36px;
        font-family: 'Montserrat', sans-serif;
    }
    
    h3{
        font-size: 20px;
        font-family: 'Montserrat';
    }
    .h3{
        font-size: 22px;
        font-weight: bold !important;
    }
    h5{
        font-size: 18px;
        font-family: 'Montserrat';
        color: #FFCC00;
        font-weight: bold !important;
        line-height: 1.5;
    }
    
    .h2{
        font-size: 30px !important;
        font-weight: bold !important;
    }
    
    p{
        font-size: 15px;
        font-family: 'Montserrat';
    }
    
    b{
        font-size: 16px;
        font-family: 'Montserrat';
    }
    
    
    
    .para{
        font-size: 16px;
        line-height: 1.5rem;
    }

    .h1{
        position: relative;
        margin: 0px ;
        padding: 0px 0px 35px;
        font-size: 24px ;
    }
    
    .h1::after{
        content: "";
        display: none;
    }

    .header .container-fluid {
        padding: 0px 15px ;
    }

    .header{
        overflow: visible !important;
    }

    /* blog start  */
    #blog{
        height: fit-content;
        /* width: fit-content; */
        padding: 30px;
    }
    
    .blog-first{
        margin-right: 0px !important;
        width: auto;        
        /* padding: 0px 30px !important; */
        /* background-color: violet; */
    }
    
    .blog-bg-img{
        height: 175.05px;
        width: auto;
    }
    
    .blog-img{
        position: relative;
        padding: 15px;
    }
    
    .tag a{
        position: absolute;
        z-index: 11;
        right: 20px;
        bottom: 20px;
    }
    
    .blog-content{
        padding: 10px 15px 20px;
    }
    
    
    
    .blog-title a{
        color: #0a0a0a;
        text-decoration: none;
        font-size: 26px;
        font-family: 'Montserrat';
    }
    
    .blog-title a:hover{
        color: #FFCC00;
    }
    
    
    .meta{
        list-style: none;
        display: flex;
        padding: 0px 0px 10px !important;
    }
    
    .meta li{
        padding-right: 30px;
    }
    
    .meta-icon{
        color: #FFCC00;
        margin-right: 5px;
    }
    
    .blog-btn{
        transition: all 0.3s;
    }
    
    .blog-btn a{
        color: #FFCC00;
        text-decoration: none;
        margin: 0px 5px 0px 0px;
        font-weight: 600;
    }
    
    .blog-btn i{
        font-size: 15px;
    }
    
    .blog-btn:hover i{
        transform: translateX(10px);
    }
    
    .blog-second{
        /* padding: 0px 30px !important; */
        width: auto !important;
    }
    
    
    .blog-search{
        background: #fff;
        padding: 40px 30px 40px;
        box-shadow: 0 2px 20px rgb(0 0 0 / 8%);
        border-radius: 0px;
        margin-bottom: 3rem;
        position: relative;
    }
    
    
    .search-input{
        border: none;
        color: #444444;
        padding: 14px 17px;
        width: 100%;
        border-radius: 0px;
        background: #F6F7F9;
        outline: none;
    }
    
    .blog-search button{
        border: medium none;
        color: #191821;
        padding: 9px 16px;
        position: absolute;
        right: 30px;
        top: 45px;
        z-index: 0;
        font-size: 16px;
        outline: none;
        border-radius: 0 5px 5px 0;
        background: none;
    }
    
    
    .recent-post{
        margin: 0px 0px 45px;
        padding: 40px 30px;
    }
    
    .recent-title{
        font-size: 20px ;
        font-weight: bold !important;
        /* margin-bottom: 30px; */
        padding-bottom: 12px;
    }
    
    
    .recent-line{
        border-top: 4px solid #FFCC00;
        width: 50px;
        margin-bottom: 25px;
        padding-bottom: 12px;
    }
    
    .show-featured{
        /* border: 1px solid red; */
        /* display: flex; */
    }
    
    .post-img{
        width: 100px;
        float: left;
        padding-right: 15px;
    }
    
    
    .post-img img{
        height: auto;
        max-width: 100%;
    }
    
    .post-item{
        /* border: 1px solid blue; */
        /* padding: 0px 30px 0px 0px; */
        overflow: hidden;
    }
    
    .post-desc a{
        text-decoration: none;
        color: black;
    }
    
    .post-desc a:hover{
        text-decoration: none;
        color: #FFCC00;
    }
    
    .recent-line2{
        border-top: 1px solid #e8e8e8;
        margin: 40px 0px 20px;
    }
    .recent-line3{
        border: none;
        margin: 40px 0px 20px;
    }
    
    .cat-list{
        list-style: none;
    }
    
    
    .recent-line4{
        border-top: 1px solid #e8e8e8;
        margin: 10px 0px;
    }
    
    .cat-list a{
        text-decoration: none;
        color: black;
    }
    
    .cat-list a:hover{
        text-decoration: none;
        color: #FFCC00;
    }
    
    .follow-icon a{
        text-decoration: none;
        color: black;
    }
    
    .follow-icon a:hover{
        text-decoration: none;
        color: #FFCC00;
    }


    /* footer start  */
    #footer{
        height: 1208px;
        overflow: visible;
    }

    .footer-content{
        padding: 20px !important;
    }
    
    #footer p{
        margin-left: 10px;
    }

    .info-anchor1{
        margin-left: 10px;
    }

    /* copy start  */

    .copy-text{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .copy-text ul{
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0 !important;
        justify-content: center;
        padding: 0px;
    }

    .copy-text ul li{
        margin-bottom: 5px;
        padding: 0 20px;
    }

    .copy-text ul li a{
        text-decoration: none;
        position: relative;
        font-size: 14px;
    }

    .copy-text ul li a:hover{
        color: #FFCC00 !important;
    }

    .copy-text ul li a:before {
        content: "";
        background: #FFCC00 !important;
        display: block;
        position: absolute;
        font-size: 18px !important;
        left: -20px;
        top: 5px;
        width: 10px;
        height: 10px;
        border-radius: 100% !important;
    }

    .copy-text ul li:first-child a::before{
        content: "";
        display: none;
    }

    /* copy end  */

}

@media (max-width: 320px) {
    *{
        overflow-x: hidden;
    }

    body{
        overflow: visible;
    }

    #nav{
        /* width: 320px; */
        padding: 10px 20px;
        background: black;
        opacity: 0.9;
    }
    
    .grip-display1{
        color: white;
    }

    .grip-display{
        display: none;
    }
    .header-image{
        margin-top: 20px;
    }

    a{
        font-size: 15px;
        font-family: 'Montserrat';
        font-weight: bold !important;
    }
    .a{
        font-size: 22px;
        color: black;
        text-decoration: none;
        font-weight: bolder !important;
    }
    
    h2{
        font-size: 36px;
        font-family: 'Montserrat', sans-serif;
    }
    
    h3{
        font-size: 20px;
        font-family: 'Montserrat';
    }
    .h3{
        font-size: 22px;
        font-weight: bold !important;
    }
    h5{
        font-size: 18px;
        font-family: 'Montserrat';
        color: #FFCC00;
        font-weight: bold !important;
        line-height: 1.5;
    }
    
    .h2{
        font-size: 30px !important;
        font-weight: bold !important;
    }
    
    p{
        font-size: 15px;
        font-family: 'Montserrat';
    }
    
    b{
        font-size: 16px;
        font-family: 'Montserrat';
    }
    
    
    
    .para{
        font-size: 16px;
        line-height: 1.5rem;
    }

    .h1{
        position: relative;
        margin: 0px ;
        padding: 0px 0px 35px;
        font-size: 24px ;
    }
    
    .h1::after{
        content: "";
        height: 8px;
        width: 120px;
        position: absolute;
        left: 80px;
        bottom: 40px;
        background: #FFCC00 !important;
        z-index: -1;
    }

    .header .container-fluid {
        padding: 0px 15px ;
    }

    .header{
        overflow: visible !important;
    }

    /* blog start  */
    #blog{
        height: fit-content;
        /* width: fit-content; */
        padding: 30px 0px ;
    }
    
    .blog-first{
        margin-right: 0px !important;
        width: 320px !important;
        padding: 0px 20px !important;
    }
    
    .blog-bg-img{
        height: 145.16px;
        width: 320px;
    }
    
    .blog-img{
        position: relative;
        padding: 10px;
    }
    
    .tag a{
        position: absolute;
        z-index: 11;
        right: 20px;
        bottom: 20px;
        font-size: 14px;
    }
    
    .blog-content{
        padding: 10px 15px 20px;
    }
    
    
    
    
    .blog-title a{
        color: #0a0a0a;
        text-decoration: none;
        font-size: 18px;
        font-family: 'Montserrat';
    }
    
    .blog-title a:hover{
        color: #FFCC00;
    }
    
    
    .meta{
        list-style: none;
        display: flex;
        padding: 0px 0px 10px !important;
        font-size: 13px;
    }
    
    .meta li{
        padding-right: 30px;
    }
    
    .meta-icon{
        color: #FFCC00;
        margin-right: 5px;
    }
    
    .blog-btn{
        transition: all 0.3s;
    }
    
    .blog-btn a{
        color: #FFCC00;
        text-decoration: none;
        margin: 0px 5px 0px 0px;
        font-weight: 600;
    }
    
    .blog-btn i{
        font-size: 15px;
    }
    
    .blog-btn:hover i{
        transform: translateX(10px);
    }
    
    .blog-second{
        padding: 0px 20px !important;
        width: 320px !important;
    }
    
    
    .blog-search{
        background: #fff;
        padding: 40px 30px 40px;
        box-shadow: 0 2px 20px rgb(0 0 0 / 8%);
        border-radius: 0px;
        margin-bottom: 3rem;
        position: relative;
    }
    
    
    .search-input{
        border: none;
        color: #444444;
        padding: 14px 17px;
        width: 100%;
        border-radius: 0px;
        background: #F6F7F9;
        outline: none;
    }
    
    .blog-search button{
        border: medium none;
        color: #191821;
        padding: 9px 16px;
        position: absolute;
        right: 30px;
        top: 45px;
        z-index: 0;
        font-size: 16px;
        outline: none;
        border-radius: 0 5px 5px 0;
        background: none;
    }
    
    
    .recent-post{
        margin: 0px 0px 45px;
        padding: 40px 30px;
    }
    
    .recent-title{
        font-size: 20px ;
        font-weight: bold !important;
        /* margin-bottom: 30px; */
        padding-bottom: 12px;
    }
    
    
    .recent-line{
        border-top: 4px solid #FFCC00;
        width: 50px;
        margin-bottom: 25px;
        padding-bottom: 12px;
    }
    
    .show-featured{
        /* border: 1px solid red; */
        /* display: flex; */
    }
    
    .post-img{
        width: 100px;
        float: left;
        padding-right: 15px;
    }
    
    
    .post-img img{
        height: auto;
        max-width: 100%;
    }
    
    .post-item{
        /* border: 1px solid blue; */
        /* padding: 0px 30px 0px 0px; */
        overflow: hidden;
    }
    
    .post-desc a{
        text-decoration: none;
        color: black;
    }
    
    .post-desc a:hover{
        text-decoration: none;
        color: #FFCC00;
    }
    
    .recent-line2{
        border-top: 1px solid #e8e8e8;
        margin: 40px 0px 20px;
    }
    .recent-line3{
        border: none;
        margin: 40px 0px 20px;
    }
    
    .cat-list{
        list-style: none;
    }
    
    
    .recent-line4{
        border-top: 1px solid #e8e8e8;
        margin: 10px 0px;
    }
    
    .cat-list a{
        text-decoration: none;
        color: black;
    }
    
    .cat-list a:hover{
        text-decoration: none;
        color: #FFCC00;
    }
    
    .follow-icon a{
        text-decoration: none;
        color: black;
    }
    
    .follow-icon a:hover{
        text-decoration: none;
        color: #FFCC00;
    }


    /* footer start  */
    #footer{
        height: 1208px;
        overflow: visible;
    }

    .footer-content{
        padding: 20px !important;
    }
    
    #footer p{
        margin-left: 10px;
    }

    .info-anchor1{
        margin-left: 10px;
    }

    /* copy start  */

    .copy-text{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .copy-text ul{
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0 !important;
        justify-content: center;
        padding: 0px;
    }

    .copy-text ul li{
        margin-bottom: 5px;
        padding: 0 20px;
    }

    .copy-text ul li a{
        text-decoration: none;
        position: relative;
        font-size: 14px;
    }

    .copy-text ul li a:hover{
        color: #FFCC00 !important;
    }

    .copy-text ul li a:before {
        content: "";
        background: #FFCC00 !important;
        display: block;
        position: absolute;
        font-size: 18px !important;
        left: -20px;
        top: 5px;
        width: 10px;
        height: 10px;
        border-radius: 100% !important;
    }

    .copy-text ul li:first-child a::before{
        content: "";
        display: none;
    }

    /* copy end  */

}



@media screen and (min-width: 577px) and (max-width: 766px){
    #nav{
        padding: 10px 20px;
        /* width: fit-content; */
    }

    .grip-display1{
        color: white;
    }
    .carousel-img{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        height: 300px;
        width: 100% !important;
        padding: 0;
        margin: 0;
    }

    .h2{
        font-size: 30px !important;
        margin-bottom: 50px !important;
    }

    h5{
        line-height: 1.5;
    }

    .para{
        margin-top: 30px !important;
    }

    
    .para{
        font-size: 16px;
        line-height: 1.5rem;
    }

    .h1{
        position: relative;
        margin: 0px !important ;
        padding: 0px 0px 35px;
    }
    
    .h1::after{
        content: "";
        display: none;
    }

    /* .header {
        overflow: visible;
    } */


    .header .container-fluid {
        padding: 0px 15px ;
        
    }
    
    #blog{
        padding: 130px 0px 0px;
    }
    
    .blog-second{
        padding: 0px !important;
    }



    /* footer start  */
    #footer{
        height: max-content;
        overflow: visible;
    }

    #footer .row{
        /* display: flex; */
        flex-direction: column;
    }


    .footer-content{
        padding: 20px !important;
    }
    
    #footer p{
        margin-left: 10px;
    }

    .info-anchor1{
        margin-left: 10px;
    }

    /* copy start  */

    .copy-text{
        display: flex;
        flex-direction: column-reverse;
        /* justify-content: space-between; */
    }

    .copy-text ul{
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0 !important;
        justify-content: center;
        padding: 0px;
    }

    .copy-text ul li{
        margin-bottom: 5px;
        padding: 0 20px;
    }

    .copy-text ul li a{
        text-decoration: none;
        position: relative;
    }

    .copy-text ul li a:hover{
        color: #FFCC00 !important;
    }

    .copy-text ul li a:before {
        content: "";
        background: #FFCC00 !important;
        display: block;
        position: absolute;
        font-size: 18px !important;
        left: -20px;
        top: 5px;
        width: 10px;
        height: 10px;
        border-radius: 100% !important;
    }

    .copy-text ul li:first-child a::before{
        content: "";
        display: none;
    }

    /* copy end  */

} 


@media (max-width: 768px){
    #nav{
        padding: 10px 20px;
        /* width: fit-content; */
    }

    .grip-display1{
        color: white;
    }
    .carousel-img{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        height: 300px;
        width: 100% !important;
        padding: 0;
        margin: 0;
    }

    .h2{
        font-size: 30px !important;
        margin-bottom: 50px !important;
    }

    h5{
        line-height: 1.5;
    }

    .para{
        margin-top: 30px !important;
    }

    
    .para{
        font-size: 16px;
        line-height: 1.5rem;
    }

    .h1{
        position: relative;
        margin: 0px !important ;
        padding: 0px 0px 35px;
        font-size: 40px !important;
    }
    
    .h1::after{
        content: "";
        height: 8px;
        width: 120px;
        position: absolute;
        left: 300px !important;
        bottom: 40px;
        background: #FFCC00 !important;
        z-index: -1;
    }

    

    .header .container-fluid {
        padding: 0px 15px ;
    }

    



    /* footer start  */
    #footer{
        height: max-content;
        overflow: visible;
    }

    #footer .row{
        /* display: flex; */
        flex-direction: column;
    }

    .footer-content-medium{
        width: 100%;
    }

    .footer-content-medium1{
        display: flex;
        flex-direction: row !important;
    }



    .footer-content{
        padding: 20px !important;
    }
    
    #footer p{
        margin-left: 10px;
    }

    .info-anchor1{
        margin-left: 10px;
    }

    /* copy start  */

    .copy-text{
        display: flex;
        flex-direction: column-reverse;
        /* justify-content: space-between; */
    }

    .copy-text ul{
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0 !important;
        justify-content: flex-end !important;
        padding: 0px;
    }

    .copy-text ul li{
        margin-bottom: 5px;
        padding: 0 20px;
    }

    .copy-text ul li a{
        text-decoration: none;
        position: relative;
    }

    .copy-text ul li a:hover{
        color: #FFCC00 !important;
    }

    .copy-text ul li a:before {
        content: "";
        background: #FFCC00 !important;
        display: block;
        position: absolute;
        font-size: 18px !important;
        left: -20px;
        top: 5px;
        width: 10px;
        height: 10px;
        border-radius: 100% !important;
    }

    .copy-text ul li:first-child a::before{
        content: "";
        display: none;
    }

    /* copy end  */
}



@media (max-width: 1024px){
    #nav{
        padding: 10px 20px;
        /* width: fit-content; */
    }

    .grip-display1{
        color: white;
    }
    .carousel-img{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        height: 300px;
        width: 100% !important;
        padding: 0;
        margin: 0;
    }

    .h2{
        font-size: 30px !important;
        margin-bottom: 50px !important;
    }

    h5{
        line-height: 1.5;
    }

    .para{
        margin-top: 30px !important;
    }

    
    .para{
        font-size: 16px;
        line-height: 1.5rem;
    }

    .h1{
        position: relative;
        margin: 0px !important ;
        padding: 0px 0px 35px;
        font-size: 48px;
    }
    
    .h1::after{
        content: "";
        height: 8px;
        width: 180px;
        position: absolute;
        left: 420px;
        bottom: 45px;
        background: #FFCC00 !important;
        z-index: -1;
    }

    .header .container-fluid {
        padding: 0px 15px ;
    }

    



    /* footer start  */
    #footer{
        height: max-content;
        overflow: visible;
    }


    .footer-content{
        padding: 20px !important;
    }
    
    #footer p{
        margin-left: 10px;
    }

    .info-anchor1{
        margin-left: 10px;
    }

    /* copy start  */

    .copy-text{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .copy-text ul{
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0 !important;
        justify-content: center;
        padding: 0px;
    }

    .copy-text ul li{
        margin-bottom: 5px;
        padding: 0 20px;
    }

    .copy-text ul li a{
        text-decoration: none;
        position: relative;
    }

    .copy-text ul li a:hover{
        color: #FFCC00 !important;
    }

    .copy-text ul li a:before {
        content: "";
        background: #FFCC00 !important;
        display: block;
        position: absolute;
        font-size: 18px !important;
        left: -20px;
        top: 5px;
        width: 10px;
        height: 10px;
        border-radius: 100% !important;
    }

    .copy-text ul li:first-child a::before{
        content: "";
        display: none;
    }

    /* copy end  */
}


@media (max-width: 1440px){
    .h1::after{
        content: "";
        height: 8px;
        width: 120px;
        position: absolute;
        left: 326px !important;
        bottom: 40px;
        background: #FFCC00 !important;
        z-index: -1;
    }
}